#empresa{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#empresa h1{
    color: #007bff;
}

#form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
#form div{
    display: flex;
    padding: 10px;
    align-items: center;
    width: 50%;
    margin: 0;
}
input[type="file"] { 
    display: none; 
 }
#form div input, select, label{
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: groove;
    background-color: unset;
    color: black;
}
#form div input:hover,select:hover, label:hover{
    background-color: #9fbfe0;
}
#form input::placeholder{
    color:black;
}

#logo{
    width: 32px;
}
