#empresa{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#empresa h1{
    color: #007bff;
}

#form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
}
#form div{
    display: flex;
    padding: 15px;
    align-items: center;
    margin: 0;
    justify-content: space-around;
    width: 25rem;
}
#form nav{
    display: flex;
    padding: 15px;
    align-items: center;
    margin: 0;
    justify-content: space-between;
}
input[type="file"] { 
    display: none; 
 }
#form div input, select, label{
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: groove;
    background-color: unset;
    color: black;
}
#form div input:hover,select:hover, label:hover{
    background-color: #9fbfe0;
}
#form input::placeholder{
    color:black;
}

#logo{
    width: 8rem;
}
.company{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.company div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#form nav a{
    width: 7rem;
}
#form .btn{
    width: 18rem;
    padding: 0;
}

#formulario{
    display: none;
}