{% extends "base.html" %} {% load static %} 
{% block cadastro %}

<section id="empresa">
    <form id="form" method="POST" action="." enctype="multipart/form-data">{% csrf_token%}
        <h1>Cadastro da empresa</h1>
            <div >
                <label id="imagem" for="upload" onclick="imagem()">Logo da empresa...</label>
                <input type="file" id="upload" name="logo" enctype="multipart/form-data"/>
            </div>
            <div>
                <input type="text" name="nome" placeholder="Nome da empresa..." required>
            </div>
            <div>
                <input type="number" inputmode="tel" name="numero" placeholder="Numero da empresa..." required>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Cadastrar</button>
            </div>
    </form>
</section>
    {% endblock %}