{% extends "base.html" %}{% load static %}

{% block content %}
<div class="container">
    <form class="needs-validation" novalidate method="POST"> {% csrf_token %}
        <h4 class="col-md-6 offset-md-3">Lista de Departamento</h1>
        <div class="form-group">
            {% for list in object_list %}
            <div class="col-md-6 offset-md-3" id="listar">
            <p class="form-control"><span>Empresa: {{ list.company }}</span></p>
            <p class="form-control"><span>Departamento: {{ list.name }}</span></p>
            <p class="form-control"><span>Status: {{ list.status }}</span></p>
            <a class="btn btn-warning btn-sm"href="{% url 'core:department_edit' list.pk %}">edit</a>
            <a class="btn btn-danger btn-sm"href="{% url 'core:department_delete' list.pk %}">delete</a>
        </div>
        {% endfor %}

    </form>
</div>
{% endblock %}
