{% extends "base.html" %}

{% block content %}

<div class="container">
    <form novalidate method="POST"enctype="multipart/form-data">{% csrf_token%}
        <h1 class="col-md-6 offset-md-3">Atualizar Colaborador</h1>
        <div class="form-group">
            <div class="col-md-6 offset-md-3" id="listar">
                
                {{ form.as_p }}
                <button class="btn btn-success btn-sm" type="submit">Atualizar</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}