{% extends "base.html" %} {% load static %} 

{% block empresa %}
    <section id="empresa">
        <form id="form" method="POST" action="#empresa">{% csrf_token%}
            <h1>Escolha de empresa</h1>
           
            <div>
                {% for empresa in empresas%}
                <a href="{% url 'core:post_detail' empresa.pk %}" class="btn btn-primary">{{empresa.name}}</a>

                    <img id="logo" src="../../../media/{{empresa.logo}}" alt="">
                    {%endfor%}
            </div>
                        
        </form>
    </section>
    
    {% endblock %}
