{% extends "base.html" %} {% load static %} 

{% block empresa %}
    <section id="empresa">
        <form id="form" method="POST" action="#empresa">{% csrf_token%}
            <h1>Escolha de empresa</h1>
           
            <nav class="company">
                {% for empresa in empresas%}
                <nav>
                    <a href="{% url 'core:empresa' empresa.pk %}">{{empresa.name}}</a>
                    <img id="logo" src="../../../media/{{empresa.logo}}" alt="">
                </nav>
                {%endfor%}
            </nav>
            <nav >
            <section class="col-md-1">
                <a class="btn btn-primary" href="{% url 'core:cadastrar' %}">Cadastrar empresa</a>
                <span>{{retorno}}</span>
            </section>
        </form>
    </section>
    
    {% endblock %}
