{% extends "base.html" %} {% load static %} 
{% block main %}
<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://res.cloudinary.com/wagner/image/upload/{{logoEmpresa}}" alt="Logo Empresa" width="72" height="72">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-2">
        <a class="btn btn-primary btn-sm btn-block" onclick="formulario()">Adicionar Colaborador</a>
        <a class="btn btn-primary btn-sm btn-block" href="{% url 'core:employee_list' %}">Listar Colaboradores</a>
    </div>
</div>
    </div>

    <div class="row" id="formulario">

        <div class="col align-self-center" id="formColaborador">
            {{msg}}
            <h4 class="mb-3">Informações</h4>
            <form class="needs-validation" novalidate method="POST"> 
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Nome..." required>
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <input type="number" name="telefone" class="form-control" id="telefone" placeholder="Telefone..." required>
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <input type="number" name="idade" class="form-control" id="age" placeholder="idade" required>
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <input type="number" name="salario" class="form-control" id="salary" placeholder="Salario..." required>
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <input type="date" name="entrada" class="form-control" id="entrada" placeholder="Entrada..." required>
                        <div class="invalid-feedback">
                            Valid data is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <select name="genero" class="custom-select d-block w-100" id="country" required>
                            <option value="" disabled selected>Selecionar genero</option>
                                <option value="M">Homem</option>
                                <option value="F">Mulher</option>
                                <option value="O">Nao binario</option>
                        </select>
                            <div class="invalid-feedback">
                                Please select a valid.
                            </div>
                    </div>
                </div>

                

                <div class="mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                        </div>
                        <input type="text" name="user" class="form-control" id="username" placeholder="Username" required>
                        <div class="invalid-feedback" style="width: 100%;">
                            Your username is required.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <input type="email" name="email" class="form-control" id="email" placeholder="Email...">
                    <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 mb-3">
                        <select name="departamento" class="custom-select d-block w-100" id="country" required>
                            <option value="" disabled selected>Selecionar departamento</option>
                            {% for departamento in departamentos%}
                                <option value="{{departamento.id}}">{{departamento.name}}</option>
                            {%endfor%}
                        </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                    </div>
                </div>
                <div class="row">

                  <div class="col-md-4">
                  <button class="btn btn-success btn-lg btn-block" type="submit">Cadastrar</button>
                  </div>
                </div>

            </form>
        </div>
    </div>
    {% endblock %}
